<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainDelivery"
        tools:targetApi="31">
        <activity
            android:name=".order.DS_DonDaGiao"
            android:exported="true" />
        <activity
            android:name=".driver.TX_Map"
            android:exported="false" />
        <activity
            android:name=".driver.TX_HoanThanhNhanDon"
            android:exported="false" />
        <activity
            android:name=".driver.TX_OrderList"
            android:exported="false" />
        <activity
            android:name=".order.ConfirmedOrders"
            android:exported="true" />
        <activity
            android:name=".driver.MainTaiXe"
            android:exported="false" />
        <activity
            android:name=".DangKy"
            android:exported="true" />
        <activity
            android:name=".DangNhap"
            android:exported="true" />
        <activity
            android:name=".order.DatHangThanhCong"
            android:exported="false" />
        <activity
            android:name=".order.XacNhanThanhToan"
            android:exported="false" />
        <activity
            android:name=".order.MainOrder"
            android:exported="true"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".order.ThanhToan"
            android:exported="false" />
        <activity
            android:name=".order.ChonTaiXe"
            android:exported="true" />
        <activity
            android:name=".FormDatHang"
            android:exported="false" />
        <activity
            android:name=".FirstChoose"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>